<template>
  <div class="md-layout-item ">
    <span class="md-title">Dybang</span>
    <router-link :to="{name: 'Login'}" class="float-right btn btn-default">
      <md-icon>security</md-icon> Login
    </router-link>
    
  </div>
</template>
