<template>
  <div>
    <md-list-item>
      <router-link  :to="{name: 'Creator'}">
        <md-icon>account_box</md-icon>
      </router-link>
      <span class="md-list-item-text">Creator</span>
    </md-list-item>

    <md-list-item>
      <md-icon>send</md-icon>
      <span class="md-list-item-text">Sent Mail</span>
    </md-list-item>

    <md-list-item>
      <md-icon>delete</md-icon>
      <span class="md-list-item-text">Trash</span>
    </md-list-item>

    <md-list-item>
      <md-icon>error</md-icon>
      <span class="md-list-item-text">Spam</span>
    </md-list-item>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
