<template>
  <div class="container">
    <div class="row mt-5 text-center">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <md-card>
          <md-card-header>
            <div class="md-title float-left text-primary">Login</div>
          </md-card-header>
          
          <md-card-content>
            <md-field>
              <label>Username</label>
              <md-input v-model="username"></md-input>
            </md-field>
            <md-field>
              <label>Password</label>
              <md-input v-model="password" type="password"></md-input>
            </md-field>
          </md-card-content>
          
          <md-card-actions>
            <router-link to="/">
              <md-button class="text-danger">Cancel</md-button>
            </router-link>
            <md-button class="text-primary">Login</md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</template>

<script>
export default {
    name: 'ErrorsMessages',
    data: () => ({
      noError: null,
      required: null,
      textarea: null,
      hasMessages: false
    }),
    computed: {
      messageClass () {
        return {
          'md-invalid': this.hasMessages
        }
      }
    }
  }
</script>

<style>

</style>
