<template>
  <div class="page-container">
    <md-app>
      <md-app-toolbar class="md-primary" md-elevation="0">
        <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
          <md-icon>menu</md-icon>
        </md-button>
        <header-layout></header-layout>
      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible" md-persistent="mini">
        <md-toolbar class="md-transparent" md-elevation="0">
          <span>Navigation</span>

          <div class="md-toolbar-section-end">
            <md-button class="md-icon-button md-dense" @click="toggleMenu">
              <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-list>
          <sidebar-layout></sidebar-layout>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <content-layout></content-layout>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
import {HeaderLayout, SidebarLayout, ContentLayout} from './layout'

export default {
  name: 'PersistentMini',
  data: () => ({
    menuVisible: false
  }),
  methods: {
    toggleMenu () {
      this.menuVisible = !this.menuVisible
    }
  },
  components: {
    HeaderLayout,
    SidebarLayout,
    ContentLayout
  }
}
</script>

<style lang="scss" scoped>
.md-app {
  min-height: 350px;
  border: 1px solid rgba(#000, .12);
}
</style>
